
<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name, input_html: {class:"uk-input"} %>
    <%= f.input :description, input_html: {class:"uk-input"}  %>
    <%= f.input :date, input_html: {class:"uk-select uk-width-1-4"}  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "uk-button uk-button-primary uk-margin-top uk-width-1-1 uk-margin-bottom" %>
  </div>
<% end %>
